/* standaard code om alle standaarden er uit te halen */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




#wrap {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 6em;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f6;
}

#title {
    background-color: #34495e;
    width: 100%;
}

canvas {
    border: none;
}

#canvas {
    background-color: #ffffff;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#mysterybox {
    width: 100%;
}

.btn {
    background-color: #16a085;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.875em;
    margin: 20px 10px 20px 0;
    cursor: pointer;
}

.btn-margin {
    margin-bottom: 0;
}

#flotreward {
    height: 500px;
    width: 100%;
}

.flot-text {
    color: #000000!important;
}

#agentspec {
    width:100%;
    height:250px;
    display: none;
}

.item {
    display: none;
}

input {
    border: none;
}

textarea {
    border: none;
}

#apples_and_poison {
    width: 50%;
    float: left;
    background-color: #ffffff;
    margin-top: 20px;
    margin-right: 20px;
    padding: 15px;
}

.section {
    width: 100%;
    min-height: 150px;
    margin-bottom: 20px;
}

form {
    float: left;
    margin: 35px 10px 35px 0;
}